
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.tmp
*.dat
CMS/config/*.config
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

# Temporary files

# packages
/packages

#app config file of test project

# do not track anything except Auditor folders and gitignore
/*
!Auditor/
!docs/
!CMS/
!.github/
!.gitignore
!Auditor.sln
!development-import-package.zip
!*.md

# do not track CMS folder except Auditor files
CMS/*

!CMS/CMSModules/
!CMS/CMSResources/
!CMS/Properties/

CMS/CMSModules/*
CMS/CMSResources/*
CMS/Properties/*

# except auditor related folders
!CMS/CMSModules/AuditorModule/
!CMS/CMSResources/AuditorModule/
!CMS/Properties/AuditorAssemblyInfo.cs
!CMS/Auditor.csproj
!CMS/packages.Auditor.config





